{#
/**
 * @file
 * Modal block theme implementation.
 *
 * Available variables:
 * - content: modal content render array.
 * - attributes: attributes array.
 * - modal_block_id: modal block id.
 * - settings: modal block settings
 */
 #}

{{ content }}
